/* Adjust table row coloring by copying the full .remark-slide here and editing it to modify the odd rows in addition to the already coded even ones! */
.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even), .remark-slide tr:nth-child(odd) { background: #faf9f8 }

/* Create full screen slides for R plots */
.full {
  padding: 0px;
}

.full p {
  margin-top: 0px;
}

/* Create font size containers */
.size100 { font-size: 100px; }
.size90 { font-size: 90px; }
.size80 { font-size: 80px; }
.size70 { font-size: 70px; }
.size65 { font-size: 65px; }
.size60 { font-size: 60px; }
.size55 { font-size: 55px; }
.size50 { font-size: 50px; }
.size45 { font-size: 45px; }
.size40 { font-size: 40px; }
.size35 { font-size: 35px; }
.size34 { font-size: 34px; }
.size33 { font-size: 33px; }
.size32 { font-size: 32px; }
.size31 { font-size: 31px; }
.size30 { font-size: 30px; }
.size25 { font-size: 25px; }
.size24 { font-size: 24px; }
.size23 { font-size: 23px; }
.size22 { font-size: 22px; }
.size21 { font-size: 21px; }
.size20 { font-size: 20px; }
.size19 { font-size: 19px; }
.size18 { font-size: 18px; }
.size17 { font-size: 17px; }
.size16 { font-size: 16px; }
.size15 { font-size: 15px; }
.size14 { font-size: 14px; }
.size13 { font-size: 13px; }
.size12 { font-size: 12px; }
.size11 { font-size: 11px; }
.size10 { font-size: 10px; }

/* Control font size in R code chunk */
.code150 .remark-code { font-size: 150% !important; }
.code140 .remark-code { font-size: 140% !important; }
.code135 .remark-code { font-size: 135% !important; }
.code130 .remark-code { font-size: 130% !important; }
.code125 .remark-code { font-size: 125% !important; }
.code120 .remark-code { font-size: 120% !important; }
.code115 .remark-code { font-size: 115% !important; }
.code110 .remark-code { font-size: 110% !important; }
.code105 .remark-code { font-size: 105% !important; }
.code95 .remark-code { font-size: 95% !important; }
.code90 .remark-code { font-size: 90% !important; }
.code85 .remark-code { font-size: 85% !important; }
.code80 .remark-code { font-size: 80% !important; }

/* Color Text */
.textgrey { color: grey; }
.textblack { color: black; }
.textred { color: red; }
.textblue { color: blue; }
.textwhite { color: white; }
.textgreen { color: green; }
.textorange { color: orange; }

/* Omit page numbers */
.remark-slide-number {
  display: none;
}

/* Add background color to a slide */
.slideblue { background-color: #aed6f1; }
.slidegreen { background-color: #a9dfbf; }
.slidered { background-color: #f5b7b1; }
.slidepurple { background-color: #e8daef; }
.slideorange { background-color: #fad7a0; }
.slidepink { background-color:  #fadbd8; }

/* Cool ideas from ekstroem */

/* Colored text boxes */
.content-box { 
    box-sizing: content-box;
    	background-color: #e2e2e2;
  /* Total width: 160px + (2 * 20px) + (2 * 8px) = 216px
     Total height: 80px + (2 * 20px) + (2 * 8px) = 136px
     Content box width: 160px
     Content box height: 80px */
}
.content-box-white,
.content-box-blue,
.content-box-gray,
.content-box-grey,
.content-box-army,
.content-box-green,
.content-box-purple,
.content-box-red,
.content-box-yellow {
    border-radius: 15px;
    margin: 0 0 25px;
    overflow: hidden;
    padding: 20px;
    width: 100%;
}
.content-box-white {
    background-color: #FFFFFF;
}
.content-box-blue {
    background-color: #b3ccff;
}
.content-box-gray {
    background-color: #e2e2e2;
}
.content-box-grey {
	background-color: #F5F5F5;
}
.content-box-army {
	background-color: #737a36;
}
.content-box-green {
	background-color: #d9edc2;
}
.content-box-purple {
	background-color: #e2e2f9;
}
.content-box-red {
	background-color: #f9dbdb;
}
.content-box-yellow {
	background-color: #fef5c4;
}
.full-width {
    display: flex;
    width: 100%;
    flex: 1 1 auto;
}
